@(warehouses : List[models.Warehouse], products : List[models.Product], stockItems : List[models.StockItem])

@main("WMS: Home") {

 <div class="container">
  <div class="row main-features">
    <div class="span4">
      <div class="well">
        <h3>Warehouses</h3>
        <p>Click a Warehouse to edit/delete:</p>
        <div class="scrolling-table">
          <table class="table table-condensed">
            <tbody>
              @for(warehouse <- warehouses) {
                <tr><td><a href="@routes.Warehouse.edit(warehouse.primaryKey)">@warehouse.name (@warehouse.warehouseId)</a></td></tr>
              }
            </tbody>
          </table>
        </div>
        <div class="pad-top">
          <a id="newWarehouse" href="@routes.Warehouse.create()" class="btn btn-block btn-success">New Warehouse</a> 
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="well">
        <h3>Products</h3>
        <p>Click a Product to edit/delete:</p>
        <div class="scrolling-table">
          <table class="table table-condensed">
            <tbody>
              @for(product <- products) {
                <tr><td><a href="@routes.Product.edit(product.primaryKey)">@product.name (@product.productId)</a></td></tr>
              }
            </tbody>
          </table>
        </div>
        <div class="pad-top">
          <a id="newProduct" href="@routes.Product.create()" class="btn btn-block btn-success">New Product</a> 
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="well">
        <h3>Stock Items</h3>
        <p>Click a Stock Item to edit/delete:</p>
        <div class="scrolling-table">
          <table class="table table-condensed">
            <tbody>
              @for(stockItem <- stockItems) {
                <tr><td><a href="@routes.StockItem.edit(stockItem.primaryKey)">@stockItem.product.name (@stockItem.stockItemId)</a></td></tr>
              }
            </tbody>
          </table>
        </div>
        <div class="pad-top">
          <a href="@routes.StockItem.create()" class="btn btn-block btn-success">New Stock Item</a> 
        </div>
      </div>
    </div>
  </div>
</div>
}
