@(primaryKey: Long, stockItemForm: Form[models.StockItem])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main("WMS: Update StockItem") {

<div class="container">
  <div class="well">
    <h3>Update StockItem</h3>
    @form(routes.StockItem.update(primaryKey), 'class -> "form-horizontal") {
      @inputText(stockItemForm("stockItemId"), '_label -> "ID")
      @select(stockItemForm("productName"), options = options(models.Product.getNames()), '_label -> "Product")
      @select(stockItemForm("warehouseName"), options = options(models.Warehouse.getNames()), '_label -> "Warehouse")
      @inputText(stockItemForm("quantity"), '_label -> "Quantity")
      
      <div class="control-group">
        <div class="controls">    
          <input type="submit" value="Update" class="btn btn-primary"> 
          <a id="delete" href="@routes.StockItem.delete(primaryKey)" class="btn btn-danger">Delete</a>  
          <a id="cancel" href="@routes.Application.index()" class="btn">Cancel</a> 
        </div>
      </div>
    }
  </div>
</div>  
}