@(warehouseForm: Form[models.Warehouse])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.render) } 

@main("WMS: Create Warehouse") {

<div class="container">
  <div class="well">
    <h3>Create Warehouse</h3>
    @form(routes.Warehouse.save(), 'class -> "form-horizontal") {
      @inputText(warehouseForm("warehouseId"), '_label -> "ID")
      @inputText(warehouseForm("name"), '_label -> "Name", 'placeholder -> "Dole Cannery")
      @inputText(warehouseForm("city"), '_label -> "City", 'placeholder -> "Honolulu")
      @inputText(warehouseForm("state"), '_label -> "State", 'placeholder -> "HI")
      @inputText(warehouseForm("zip"), '_label -> "Zip", 'placeholder -> "96822")
      <div class="control-group">
        <div class="controls">    
          <input type="submit" value="Create" class="btn btn-primary"> 
          <a href="@routes.Application.index()" class="btn">Cancel</a> 
        </div>
      </div>
    }
  </div>
</div>  
}